# Auto detect text files and perform LF normalization
* text=auto

# Unity YAML
*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.meta text eol=lf

# Binary files (no LF normalization, no diff)
*.png binary
*.jpg binary
*.psd binary
*.tga binary
*.wav binary
*.mp3 binary
*.ogg binary
*.data binary
